# Virtual Environments
.venv/
venv/
env/
*venv*/
mackis/



# local state
session.json

# local Chroma DBs & zips
preprocessing/chroma_db_mysu
preprocessing/chroma_db_clean
preprocessing/chroma_db_mysu/
preprocessing/chroma_db_clean.zip
preprocessing/version_plus/chroma_db_clean_plus
# (optional) checkpoints and caches
__pycache__/
*.pyc
